<h1> My Tasks</h1>
<% @tasks.each do |task| %>
<div class="tasklist">
<input type="checkbox" checked>
<h3><%= link_to task.title, task_path(task) %></h3>
<%= link_to task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
<% end %>
</div>
<% end %>
<%= link_to 'Create new task', tasks_new_path %>