// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paragraph {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: left;
}

.tasklist {
  width: 200px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
